{%extends 'base.html'%}
{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" value="post">
            </form>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        {%for q in questions%}
            <div class="col-lg-6">
                <!-- Blog post-->
                <div class="card mb-4">
                    {%if q.image%}
                        <a href="#!"><img class="card-img-top" src="{{q.image.url}}" alt="..." /></a>
                    {%endif%}
                    <div class="card-body">
                        <div class="small text-muted">{{q.created_on}}</div>
                        <h2 class="card-title h4">{{q.description}}</h2>
                        <p class="card-title">{{q.user}}</p>
                        <p class="card-text"></p>
                        <a class="btn btn-primary" href="{%url 'questiondetail' q.id%}">Read more →</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6"></div>
        {%endfor%}
    </div>
</div>

{%endblock%}